* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*---------- menu ----------*/

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    background: #fefefec0;
    z-index: 4;
    visibility: hidden;
}

.transparentBcgMenu {
    visibility: visible;
}

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(231, 226, 221);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#closeMenu {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

.menu button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    border: none;
    background-color: rgb(231, 226, 221);;
}
  
.menu button:hover {
    color: #818181;
}

@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu button {font-size: 18px;}
}

/*---------- end of menu ----------*/